# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store
